faiss-cpu==1.8.0
huggingface-hub==0.24.5
langchain==0.2.1
langchain-community==0.2.1
langchain-core==0.2.1
langchain-openai==0.1.7
langchain-text-splitters==0.2.0
langdetect==1.0.9
langsmith==0.1.93
llvmlite==0.43.0
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.21.3
matplotlib==3.9.2
numpy==1.26.4
openai==1.30.3
pandas==2.2.2
pillow==10.4.0
protobuf==5.27.2
pyarrow==17.0.0
pydantic==2.8.2
pydantic_core==2.20.1
pypdf==4.3.1
PyPDF2==3.0.1
python-dotenv==1.0.1
ragas==0.1.14
scikit-learn==1.5.1
scipy==1.11.4
seaborn==0.13.2
SQLAlchemy==2.0.31
streamlit==1.36.0
streamlit-chat==0.1.1
tiktoken==0.7.0
tqdm==4.66.4
transformers==4.44.0
